{% extends '::base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.total_items) }}

    {% for category in form.category_list %}
        <div class="form-group form-inline">
            {{ form_widget(category) }}
        </div>
    {% endfor %}

    <button type="submit">{{ 'form.submit'|trans }}</button>

    {{ form_end(form) }}

{% endblock %}