{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='compass'
        '@UserBundle/Resources/public/css/login.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        <h2 class="form-signin-heading">{{ 'fos.login.header.sign_in'|trans }}</h2>
        <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"  class="form-control" placeholder="{{ 'security.login.username'|trans }}" required autofocus>
        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'security.login.submit'|trans }}</button>
    </form>
{% endblock fos_user_content %}
